
*{margin: 0px;}
html, body
{
	background-color: transparent;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, 'Microsoft Yahei UI', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: #ffffff;
}
a, a:link, a:visited{color: inherit;}
a:hover{font-weight: 400;}
#bg
{
	background-image: url(https://www.yangshangzhen.com/bing/wallpaper);
	background-size: cover;
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}
#search
{
	display: inline-block;
	vertical-align: top;
	padding: 30vh 0vh 30vh 0vh;
	text-align: center;
	height: 100vh;
	width: 40vw;
	background-color: rgba(200, 200, 200, 0.3);
}
#datetime{font-size: 48px; margin: 0px 100px 18px 100px}
#buttons
{
	display: inline-block;
	vertical-align: top;
	height: 100vh;
	width: 50vw;
	background-color: transparent;
}
#buttons a
{
	display: inline-block;
	text-decoration: none;
	width: 98px;
	height: 18px;
	background-color: rgba(200, 200, 200, 0.3);
	margin: 20px;
	padding: 36px 0px 44px 0px;
	text-align: center;
	border-radius: 15px;
}
#buttons a:hover
{
	padding: 40px 4px 48px 4px;
	margin: 16px;
	background-color: rgba(200, 200, 200, 0.2);
	transition: all 0.6s;
}
#about{margin-top: 100px;font-size: 15px;line-height: 24px;}
#about span{display: inline-block; margin: auto 8px auto 8px;}
